[submodule "src/sdk_deploy"]
	path = src/sdk_deploy
	url = https://github.com/art-e-fact/sdk_deploy.git
	branch = core-only
[submodule "src/assets_package/deep_robotics_model"]
	path = src/assets_package/deep_robotics_model
	url = https://github.com/DeepRoboticsLab/deep_robotics_model.git
[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = git@github.com:art-e-fact/livox_ros_driver2.git
	branch = master
